.list{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    >.item{
        margin: 20px 0;
        &:hover{
            cursor: pointer;
        }
    }

    .back{
        display: flex;
        color: blue;

        &:hover{
            cursor: pointer;
        }
        >svg{
            width: 15px;
            margin-right: 5px;
            fill: blue;
        }
    }
}